include ../main-nav-submenu/main-nav-submenu.pug

mixin main-nav
  -
    const navStyle = [
      'main-nav sm_fixed sm_-top-full sm_left-0 sm_w-full',
      'sm_h-full sm_overflow-auto sm_z-70'
    ]

    const listStyle = [
      'flex items-center gap-5 list-none p-0',
      'sm_flex-col sm_items-center sm_justify-center',
      'sm_gap-3 sm_min-h-full sm_pt-6'
    ]

  nav(class=navStyle.join(' '))&attributes(attributes)
    ul(class=listStyle.join(' '))
      each item in mainNavData
        -
          const itemBaseStyle = [
            'main-nav__item relative p-0 sm_mr-0 sm_text-center'
          ];

        if (item.submenu)
          - itemBaseStyle.push('main-nav__item_dropdown');

        if (item.url === pageUrl)
          - itemBaseStyle.push('main-nav__item_active');

        li(class=itemBaseStyle.join(' '))
          -
            const linkStyle = [
              'main-nav__link relative block px-3 py-2 font-medium tracking-wide',
              'uppercase no-underline sm_px-4'
            ]

          if (item.url)
            a(class=linkStyle.join(' '), href=item.url)= item.title
          else
            span(class=linkStyle.join(' '))= item.title

          if (item.submenu)
            -
              const dropdownStyle = [
                'main-nav__dropdown absolute top-full left-0 w-64',
                'p-0 overflow-hidden bg-white invisible opacity-0',
                'shadow-[0_2px_18px_rgba(0,0,0,0.25)] z-70 pointer-events-none'
              ]

            - item.submenu.parent = item.url;
            div(class=dropdownStyle.join(' '))
              +main-nav-submenu(item.submenu)
